div#dashboard{
    display: flex;
    height: 100vh;
    flex-direction: column;
}
div#score{
    font-size: 5rem;
    padding:2rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
div#content{
    flex-grow: 1;
    position: relative;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
}

div.team_list{
    color: white;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 5%;
    text-align: center;
}

div.game_list{
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

div#game_container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    height: 100%;
}
div#game_frame{
    color:black;
    padding: 1rem;
    background-color: white;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px 10px 0px 0px;
}